@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}




body {
    height: 100vh;
    margin: 0;


}

.container {
    display: flex;
    align-items: center;
    justify-content: center;    
    width: 100%;
    height: 100vh;
}

.box {
    height: 70%;
    width: 1300px;
    display: flex;
    background-image: linear-gradient(to right, #064e3b, #20a074, #34d399);
    box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.5);
}

/* BOX LEFT */


.box-left {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 350px;
     
}

.box-left .left--img {
    display: flex;
    justify-content: center;
}

.box-left .left--img img {
    display: flex;
    justify-content: center;
    width: 250px;
    position: relative;
    top: 20px;
}


.box-left .left--tittle {
    position: relative;
    bottom: 150px;
    display: flex;
    justify-content: center;
    font-size: 25px;
    color: white;
}

.box-left .left--tittle h2 {

    font-weight: 200;
}



/* BOX RIGHT */



.box-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1000px;
    
}


.box-right .div--right {

    height: 90%;
    background-color: white;
    border-radius: 50px 0px 0px 50px;
}


.box-right .box--register {
    bottom: 70px;
    color: #2fa49c;
    font-size: 25px;
    text-align: center;

}
